{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Instagram clone </title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="{% static 'img/logo.PNG' %}" class="brand-img" alt="">
            <input type="text" class="search-box" placeholder="search">
            <div class="nav-items">
                <img src="{% static 'img/home.PNG' %}" class="icon" alt="">
                <img src="{% static 'img/messenger.PNG' %}" class="icon" alt="">
                <img src="{% static 'img/add.PNG' %}" class="icon" alt="">
                <img src="{% static 'img/explore.PNG' %}" class="icon" alt="">
                <img src="{% static 'img/like.PNG' %}" class="icon" alt="">
                <div class="icon user-profile"></div>
            </div>
        </div>
    </nav>

    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div class="status-wrapper">
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/cover 1.png' %}" alt=""></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/cover 2.png' %}" alt=""></div>
                        <p class="username">user_name_2</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/cover 3.png' %}" alt=""></div>
                        <p class="username">user_name_3</p>
                    </div>
                    // +5 more status card elements.
            </div>


            <!-- todo  post list  -->
             {% for post   in  posts %}

             
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="{{ post.profile.image.url }}" alt=""></div>
                        <p class="username">{{ post.profile.user.username}}  </p>
                    </div>
                    <img src="{% static 'img/option.PNG' %}" class="options" alt="">
                </div>
                <img src="{{ post.image.url }}" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="{% static 'img/like.PNG' %}" class="icon" alt="">
                        <img src="{% static 'img/comment.PNG' %}" class="icon" alt="">
                        <img src="{% static 'img/send.PNG' %}" class="icon" alt="">
                        <img src="{% static 'img/save.PNG' %}" class="save icon" alt="">
                    </div>
                    <p class="likes">1,012 likes</p>
                    <p class="description"><span>{{ post.username  }} </span> 
                    {{ post.caption }} </p>
                    <p class="post-time">{{ post.created_at| timesince}} ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="{% static 'img/smile.PNG' %}" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>
                 
             {% endfor %}
          
            // +5 more post elements
        
        
        
        
        </div>


        <!-- right side  -->

        <div class="right-col">
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="{% static 'img/profile-pic.png' %}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">kunaal kumar</p>
                </div>
                <button class="action-btn">switch</button>
            </div>
            <p class="suggestion-text">Suggestions for you</p>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="{% static 'img/cover 9.png' %}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="{% static 'img/cover 10.png' %}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="{% static 'img/cover 11.png' %}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="{% static 'img/cover 12.png' %}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="{% static 'img/cover 13.png' %}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
        </div>
    </section>

    
</body>
</html>